<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="title">
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="tform">
  <ion-title>Cadastro Pessoal</ion-title>
</div>


  <div class="info">
    <h4>Nome Completo:</h4>
    <ion-input placeholder="Inserir"></ion-input>
  </div>

  <div class="info">
    <h4>Gênero:</h4>
    <ion-input placeholder="Inserir"></ion-input>
  </div>

  <div class="info">
    <h4>Data de Nascimento:</h4>
    <ion-input placeholder="Inserir"></ion-input>
  </div>

  <div class="info">
    <h4>Endereço:</h4>
    <ion-input placeholder="Inserir"></ion-input>
  </div>

  <div class="info">
    <h4>Cidade:</h4>
    <ion-input placeholder="Inserir"></ion-input>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title class="version">Versão: 0.0.0.1</ion-title>
  </ion-toolbar>
</ion-footer>
