.title {
font-weight:bold;
text-align: center;
color:#000000
}

.version {
  font-size: 15px;
  text-align: center;
}

.tform {
  ion-title {
    font-weight: bold;
    color:#000000;
  }
  margin-top:5px;
  margin-bottom:8px;
  }

  .info{
margin-left:8px;
margin-right: 8px;

  h4 {
    font-size: 18px;
    font-weight:bold;
    color:#000000;
  }

  ion-input {
    border-color: #92949c;
    border-style: solid;
    border-radius: 5rem;
  }
  }
